@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #1A1A1A;
}


.hero{
  background-image: url('./assets/Hero Image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}
.features1::before{
   content: "Air X";
   position: absolute;
   font-size: 3rem;
   top: -2.5rem;
   left: 3rem
}
.features1::After{
   content: "Accelerate into a New Era";
   position: absolute;
   font-size: 3rem;
   bottom:-4rem;
   left: 2rem
}

.airx{
  background-image: url('./assets/AirX.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: contain;
}
.sec-air{
  background-image: url('./assets/AirXImg2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}